/* @media screen {
    body {
        background-color: orange;
        color: red;
        margin: 0px;
    }
}

@media print {

    body {
        background-color: darkgreen;
        color: white;
        margin: 0px;
    }
} */

/* body {
    margin: 0px;
}

.header {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: orange;
    color: darkgreen;
}

.header .toggle-aside-left-btn {
    width: 30px;
    height: 30px;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
height: 800px;
align-items: stretch;
}

.aside-left,
.aside-right {
    background-color: brown;
    color: white;
    width: 25%;
}

.content {
    background-color: hotpink;
    color: red;
    width: 50%;
}

*/
/* @media screen and (max-width: 412px) {

    .aside-left,
    .aside-right {
        display: none;
    }

    .content {
        width: 100%;
    }

    .header .toggle-aside-left-btn {
        display: inline-block;
    }
} */

/* @media screen and (min-width: 1024px) {

    .aside-left,
    .aside-right {
        width: 25%;
    }

    .content {
        width: 50%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {

    .aside-left,
    .aside-right {
        display: none;
    }

    .content {
        width: 100%;
    }
} */

/* Đơn vị rem, em trong css */

/* html {
    font-size: 30px;
}

body {
    font-size: 15px;
}

@media screen and (max-width: 576px) {
    body {
        font-size: 10px;
    }
}

.my-paragraph {
    font-size: 2em;
} */


body {
    margin: 0px;
}

.card-item {
    display: flex;
    background-color: orange;
    border-radius: 15px;
}

.card-item .card-left {
    width: 50%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #E2E2E2;
}

.card-item .card-left .card-avatar {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card-item .card-left .card-call {
    display: flex;
    justify-content: space-around;
}

.card-item .card-left .card-call .card-call-item {
    max-width: 60px;
    width: 20%;
    aspect-ratio: 1/1;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

.card-item .card-right {
    font-size: 18px;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.card-item .card-right .card-name {
    font-size: 36px;
    font-weight: bold;
}

.card-item .card-right .card-language {
    display: flex;
    gap: 10px;
}

.card-contact {
    display: flex;
    justify-content: space-around;
}

.card-contact-item {
    max-width: 60px;
    width: 20%;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    font-size: 20px;
}

.card-info {
    aspect-ratio: 1/1;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-list {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}